In [1]:
# Assignment 2
# Classify the email using the binary classification method. Email Spam detection has two states:
# a) Normal State – Not Spam,
# b) Abnormal State – Spam. Use K-Nearest Neighbors
# and Support Vector Machine for classification. Analyze their performance.

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
df=pd.read_csv('emails.csv')
df.head()

,Email No.,the,to,ect,and,for,of,a,you,hou,...,connevey,jay,valued,lay,infrastructure,military,allowing,ff,dry,Prediction
0,Email 1,0,0,1,0,0,0,2,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Email 2,8,13,24,6,6,2,102,1,27,...,0,0,0,0,0,0,0,1,0,0
2,Email 3,0,0,1,0,0,0,8,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Email 4,0,5,22,0,5,1,51,2,10,...,0,0,0,0,0,0,0,0,0,0
4,Email 5,7,6,17,1,5,2,57,0,9,...,0,0,0,0,0,0,0,1,0,0

In [4]:
df.drop(['Email No.'],axis=1,inplace=True)

In [5]:
df.head()

,the,to,ect,and,for,of,a,you,hou,in,...,connevey,jay,valued,lay,infrastructure,military,allowing,ff,dry,Prediction
0,0,0,1,0,0,0,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,8,13,24,6,6,2,102,1,27,18,...,0,0,0,0,0,0,0,1,0,0
2,0,0,1,0,0,0,8,0,0,4,...,0,0,0,0,0,0,0,0,0,0
3,0,5,22,0,5,1,51,2,10,1,...,0,0,0,0,0,0,0,0,0,0
4,7,6,17,1,5,2,57,0,9,3,...,0,0,0,0,0,0,0,1,0,0

In [6]:
# X contains the features (independent variables) that the model will use to make predictions.
# y contains the target variable (dependent variable) that the model will try to predict based on the features.
X = df.drop(['Prediction'],axis = 1)
y = df['Prediction']

In [7]:
from sklearn.model_selection import train_test_split
# split into train and test
# 30% for testing , 70 for training
# , random_state is like setting a "seed" for the randomness used in various operations.
# It ensures that the random processes in your code are reproducible
X_train, X_test, y_train, y_test=train_test_split(X, y,test_size=0.2, random_state=42)

In [8]:
# KNN CLASSIFIER

In [9]:
from sklearn.neighbors import KNeighborsClassifier
#  the classifier will consider the 7 nearest neighbors for each prediction
knn = KNeighborsClassifier(n_neighbors=7)
 
knn.fit(X_train, y_train)
y_pred = knn.predict(X_test)

In [10]:
print("Prediction",y_pred)

Prediction [0 0 1 ... 0 1 0]

In [11]:
from sklearn.metrics import confusion_matrix, accuracy_score
print("KNN accuracy = ",accuracy_score(y_test,y_pred))

KNN accuracy =  0.8685990338164251

In [16]:
print("Confusion matrix\n",confusion_matrix(y_test,y_pred))

Confusion matrix
 [[645  94]
 [ 42 254]]

In [ ]:
# SVM CLASSIFIER

In [17]:
from sklearn.svm import SVC

In [23]:
model = SVC()
# fit
model.fit(X_train, y_train)

# predict
y_pred = model.predict(X_test)

In [24]:
confusion_matrix(y_test,y_pred)

array([[727,  12],
       [177, 119]], dtype=int64)

In [25]:
print("SVM accuracy = ",metrics.accuracy_score(y_test,y_pred))

SVM accuracy =  0.8173913043478261