In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv("emails.csv")

In [4]:
df.head()

,Email No.,the,to,ect,and,for,of,a,you,hou,...,connevey,jay,valued,lay,infrastructure,military,allowing,ff,dry,Prediction
0,Email 1,0,0,1,0,0,0,2,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Email 2,8,13,24,6,6,2,102,1,27,...,0,0,0,0,0,0,0,1,0,0
2,Email 3,0,0,1,0,0,0,8,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Email 4,0,5,22,0,5,1,51,2,10,...,0,0,0,0,0,0,0,0,0,0
4,Email 5,7,6,17,1,5,2,57,0,9,...,0,0,0,0,0,0,0,1,0,0

In [8]:
df.drop(['Email No.'], axis=1, inplace=True)

In [9]:
df.head()

,the,to,ect,and,for,of,a,you,hou,in,...,connevey,jay,valued,lay,infrastructure,military,allowing,ff,dry,Prediction
0,0,0,1,0,0,0,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,8,13,24,6,6,2,102,1,27,18,...,0,0,0,0,0,0,0,1,0,0
2,0,0,1,0,0,0,8,0,0,4,...,0,0,0,0,0,0,0,0,0,0
3,0,5,22,0,5,1,51,2,10,1,...,0,0,0,0,0,0,0,0,0,0
4,7,6,17,1,5,2,57,0,9,3,...,0,0,0,0,0,0,0,1,0,0

In [11]:
X = df.drop(['Prediction'], axis=1)
Y = df['Prediction']

In [12]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size = 0.2, random_state = 42)

In [13]:
# KNN Classifier

In [22]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier()
knn.fit(x_train, y_train)
y_pred = knn.predict(x_test)

In [23]:
y_pred

array([0, 0, 1, ..., 0, 1, 0], dtype=int64)

In [25]:
from sklearn.metrics import confusion_matrix, accuracy_score
print("accuracy score: ", accuracy_score(y_test, y_pred))

accuracy score:  0.8628019323671497

In [26]:
print("confusion matrix\n", confusion_matrix(y_test, y_pred))

confusion matrix
 [[645  94]
 [ 48 248]]

In [28]:
from sklearn.svm import SVC
model = SVC()
model.fit(x_train, y_train)
y_pred = model.predict(x_test)

In [29]:
y_pred

array([0, 0, 1, ..., 0, 0, 0], dtype=int64)

In [30]:
print("Accuracy Score: ", accuracy_score(y_test, y_pred))

Accuracy Score:  0.8173913043478261

In [32]:
print("Confusion Matrix\n", confusion_matrix(y_test, y_pred))

Confusion Matrix
 [[727  12]
 [177 119]]